.form-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-group{
    margin: 1vh;
}

.form-group label{
    font-size: 3vh;
    background: linear-gradient(#409139, #999e55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-group input{
    font-size: 3vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    font-size: 3vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

